<div>
	<p><h5 ng-if="!apiName">Selecciona una api</h5></p>
	<div class="btn-toolbar">
		<div class=" btn-group btn-group-xs mr-2">
			<button class="btn btn-secondary" ng-class="{'btn-dark': apiName == 'disasters'}" ng-click="apiName = 'disasters'">Major disasters</button>
			<button class="btn btn-secondary" ng-class="{'btn-dark': apiName == 'hurricanes'}" ng-click="apiName = 'hurricanes'">Hurricanes</button>
			<button class="btn btn-secondary" ng-class="{'btn-dark': apiName == 'bombs'}" ng-click="apiName = 'bombs'">Bombs</button>
		</div>
	</div>

	<div ng-if="apiName == 'disasters'">
		
		<p><h4>Visualizaciones</h4></p>
		<div class="btn-toolbar">
			<div class=" btn-group btn-group-xs mr-2">
				<button class="btn btn btn-primary" ng-class="{'btn-info': disasters.visualizations.echarts.show}" ng-click="disasters.visualizations.echarts.toggle()">Visualización 1 (ECharts)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': disasters.visualizations.highcharts.show}" ng-click="disasters.visualizations.highcharts.toggle()">Visualización 2 (Highcharts)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': disasters.visualizations.geocharts.show}" ng-click="disasters.visualizations.geocharts.toggle()">Visualización 3 (GeoCharts)</button>
			</div>
		</div>
		<p><h4>Integraciones externas</h4></p>
		<div class="btn-toolbar">

			<div class=" btn-group btn-group-xs mr-2">
				<button class="btn btn-primary" ng-class="{'btn-info': disasters.integrations.ext1.show}" ng-click="disasters.integrations.ext1.toggle()">Integración 1 (SOS1819-12)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': disasters.integrations.ext2.show}" ng-click="disasters.integrations.ext2.toggle()">Integración 2 (SOS1819-15)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': disasters.integrations.ext3.show}" ng-click="disasters.integrations.ext3.toggle()">Integración 3 (api.awhere)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': disasters.integrations.ext4.show}" ng-click="disasters.integrations.ext4.toggle()">Integración 4 (matchilling-tronald-dump)</button>
			</div>
		</div>
		<p></p>
		<p></p>
		<div class="container-fluid" style="width:100%; height:100%;">
			<div ng-if="disasters.visualizations.echarts.show" id="main1" style="width:inherit; height:inherit;"></div>

			<div ng-if="disasters.visualizations.highcharts.show" id="main2"></div>

			<div ng-if="disasters.visualizations.geocharts.show" id="main3"></div>

			<div ng-if="disasters.integrations.ext1.show" id="main4" style="width:inherit; height:inherit;"></div>
			<div ng-if="disasters.integrations.ext1.show" id="main44" style="width:inherit; height:inherit;"></div>

			<div ng-if="disasters.integrations.ext2.show" id="main5" style="width:inherit; height:inherit;"></div>

			<div ng-if="disasters.integrations.ext3.show" id="main6" style="width:inherit; height:inherit;"></div>

			<div ng-if="disasters.integrations.ext4.show" id="main7" style="width:inherit; height:inherit;"></div>

		</div>
	</div>

	<div ng-if="apiName == 'hurricanes'">
		
		<p><h4>Visualizaciones</h4></p>
		<div class="btn-toolbar">
			<div class=" btn-group btn-group-xs mr-2">
				<button class="btn btn btn-primary" ng-class="{'btn-info': hurricanes.visualizations.echarts.show}" ng-click="hurricanes.visualizations.ejscharts.toggle()">Visualización 1 (ECharts)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': hurricanes.visualizations.highcharts.show}" ng-click="hurricanes.visualizations.highcharts.toggle()">Visualización 2 (Highcharts)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': hurricanes.visualizations.geocharts.show}" ng-click="hurricanes.visualizations.geocharts.toggle()">Visualización 3 (GeoCharts)</button>
			</div>
		</div>
		<p><h4>Integraciones externas</h4></p>
		<div class="btn-toolbar">

			<div class=" btn-group btn-group-xs mr-2">
				<button class="btn btn-primary" ng-class="{'btn-info': hurricanes.integrations.ext1.show}" ng-click="hurricanes.integrations.ext1.toggle()">Integración 1 (SOS1819-03)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': hurricanes.integrations.ext2.show}" ng-click="hurricanes.integrations.ext2.toggle()">Integración 2 (SOS1819-03)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': hurricanes.integrations.ext3.show}" ng-click="hurricanes.integrations.ext3.toggle()">Integración 3 (pokeapi)</button>
				<button class="btn btn-primary" ng-class="{'btn-info': hurricanes.integrations.ext4.show}" ng-click="hurricanes.integrations.ext4.toggle()">Integración 4 (An Api Of Ice And Fire)</button>
			</div>
		</div>
		<p></p>
		<p></p>
		<div class="container-fluid" style="width:100%; height:100%;">
			<div ng-if="hurricanes.visualizations.ejscharts.show" id="main1h" style="width:inherit; height:inherit;"></div>

			<div ng-if="hurricanes.visualizations.highcharts.show" id="main2h"></div>

			<div ng-if="hurricanes.visualizations.geocharts.show" id="main3h"></div>

			<div ng-if="hurricanes.integrations.ext1.show" id="main4h" style="width:inherit; height:inherit;"></div>

			<div ng-if="hurricanes.integrations.ext2.show" id="main5h" style="width:inherit; height:inherit;"></div>

			<div ng-if="hurricanes.integrations.ext3.show" id="main6h" style="width:inherit; height:inherit;"></div>

			<div ng-if="hurricanes.integrations.ext4.show" id="main7h" style="width:inherit; height:inherit;"></div>

		</div>
	</div>

</div>






